{% include 'navbar.html' %}

<main class="page-wrapper">
    <div id="content" class="container-fluid d-flex h-100 align-items-center justify-content-center py-4 py-sm-5 mt-5">
        <div class="card card-body" style="max-width: 940px"><a
                class="position-absolute top-0 end-0 nav-link fs-sm py-1 px-2 mt-3 me-3" href="#"
                onclick="window.history.go(-1); return false;"><i class="bi bi-backspace me-2"></i>Go
                back</a>
            <div class="row mx-0 align-items-center">
                <div class="col-md-6 border-end-md p-2 p-sm-5">
                    <h2 class="h3 mb-4 mb-sm-5">Hey there!<br>Welcome back.</h2><img class="d-block mx-auto"
                        src="/static/image/signin.svg" width="344" alt="Illustartion">
                    <div class="mt-4 mt-sm-5">
                        Don't have an account? 
                        <a class="primary"
                            hx-post="{% url 'blog:sign_up' %}"
                            hx-target="#menucont"
                            hx-push-url="true">
                            Sign Up
                        </a>
                    </div>
                </div>
                <div class="col-md-6 px-2 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5"><a class="btn btn-outline-info w-100 mb-3"
                        href="#"><i class="bi bi-google me-2"></i> Sign in with Google</a><a
                        class="btn btn-outline-info w-100 mb-3" href="#"><i class="bi bi-facebook me-2"></i> Sign in
                        with Facebook</a>
                    <div class="d-flex align-items-center py-3 mb-3">
                        <hr class="w-100">
                        <div class="px-3">Or</div>
                        <hr class="w-100">
                    </div>
                    <form class="needs-validation" method="post">
                        <div class="mb-4">
                            <label class="form-label mb-2" for="signin-username">Username</label>
                            <input class="form-control" type="username" name="username" id="signin-username" placeholder="Enter your username"
                                required>
                        </div>
                        <div class="mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <label class="form-label mb-0" for="signin-password">Password</label><a class="fs-sm"
                                    href="#">Forgot password?</a>
                            </div>
                            <div class="password-toggle">
                                <input class="form-control" type="password" name="password" id="signin-password"
                                    placeholder="Enter password" required>
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span
                                        class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        
                        <a class="btn btn-primary btn-lg w-100"
                            hx-post="{% url 'blog:login' %}"
                            hx-target="#menucont"
                            hx-push-url="true">
                            Login
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}