<footer class="footer bg-secondary pt-5">
    <div class="container pt-lg-4 pb-4">

        <div class="row mb-5 pb-md-3 pb-lg-4">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="d-flex flex-sm-row flex-column justify-content-between mx-n2">
                    <div class="mb-sm-0 mb-4 ms-5 px-2">
                        <a class="d-inline-block mb-4" href="">
                            <img src="/static/image/logo.png" width="55" alt="logo">
                        </a>
                        <ul class="nav flex-column mb-sm-4 mb-2">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 fw-normal" href="mailto:abdulaziz.komilov2@icloud.com">
                                    <i class="fi-mail mt-n1 me-2 align-middle opacity-70"></i>
                                    abdulaziz.komilov2@icloud.com
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 fw-normal" href="tel:998931159963">
                                    <i class="fi-device-mobile mt-n1 me-2 align-middle opacity-70"></i>
                                    (998) 115-99-63
                                </a>
                            </li>
                        </ul>
                        <div class="pt-2">
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2"
                                href="#">
                                <i class="fi-facebook"></i>
                            </a>
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2"
                                href="#">
                                <i class="fi-twitter"></i>
                            </a>
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2"
                                href="#">
                                <i class="fi-viber"></i>
                            </a>
                            <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2"
                                href="#">
                                <i class="fi-telegram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="px-2">
                        <h4 class="h5">About</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 fw-normal" href="#">About Us</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 fw-normal" href="#">Our agents</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 fw-normal" href="#">Help &amp;support</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 fw-normal" href="#">Contacts</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 fw-normal" href="#">News</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center fs-sm pt-4 mt-3 pb-2">
            &copy;All rights reserved. Made by <a href='' class='d-inline-block nav-link p-0'
                rel='noopener'>Abdulaziz Komilov</a>
        </div>
    </div>
</footer>
